@import 'antd/dist/antd.css';

.header{
  margin-left: 150px;
  width: 80%;
  background-color: aqua;
  
}
.taskMarginleft{
  width: 400px;
  margin-left: 30%;

}
.site-page-header{
  font-family: 'Permanent Marker', cursive;
}

.background{
  background-color: brown;
  height: 100vh;
}


.ant-list-item-meta-description{
  font-size:30px;
  color:white;
}




.ant-list-item-meta-title {
  font-size:20px;
  color:white;
}